{
  "x-generator": "NSwag v14.6.3.0 (NJsonSchema v11.5.2.0 (Newtonsoft.Json v13.0.0.0))",
  "openapi": "3.0.0",
  "info": {
    "title": "PlexBot API",
    "description": "This the PlexBot Web API",
    "termsOfService": "None",
    "contact": {
      "name": "Filip Iricanin",
      "url": "https://jellybot.maktep.fr",
      "email": "filip.iricanin@gmail.com"
    },
    "version": "1.0.0"
  },
  "servers": [
    {
      "url": "https://jellybot.maktep.fr"
    }
  ],
  "paths": {
    "/api/health": {
      "get": {
        "tags": [
          "Health"
        ],
        "operationId": "Health_Get",
        "responses": {
          "200": {
            "description": ""
          }
        }
      }
    },
    "/api/logs": {
      "get": {
        "tags": [
          "Logs"
        ],
        "operationId": "Logs_GetLogs",
        "parameters": [
          {
            "name": "date",
            "in": "query",
            "schema": {
              "type": "string",
              "format": "date-time",
              "nullable": true
            },
            "x-position": 1
          }
        ],
        "responses": {
          "200": {
            "description": "",
            "content": {
              "application/json": {
                "schema": {
                  "type": "string"
                }
              }
            }
          }
        }
      }
    },
    "/api/api-clients": {
      "get": {
        "tags": [
          "ApiClient"
        ],
        "summary": "Lists every configured api client. Secrets are never returned.",
        "operationId": "ApiClient_GetApiClients",
        "responses": {
          "200": {
            "description": "Api clients returned",
            "content": {
              "application/json": {
                "schema": {
                  "type": "array",
                  "items": {
                    "$ref": "#/components/schemas/ApiClientDto"
                  }
                }
              }
            }
          }
        }
      },
      "post": {
        "tags": [
          "ApiClient"
        ],
        "summary": "Creates a new api client.",
        "operationId": "ApiClient_CreateApiClient",
        "requestBody": {
          "x-name": "request",
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/CreateApiClientRequest"
              }
            }
          },
          "required": true,
          "x-position": 1
        },
        "responses": {
          "200": {
            "description": "Api client created",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ApiClientDto"
                }
              }
            }
          },
          "400": {
            "description": "Invalid request or duplicate name",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ProblemDetails"
                }
              }
            }
          }
        }
      }
    },
    "/api/api-clients/{apiClientId}": {
      "put": {
        "tags": [
          "ApiClient"
        ],
        "summary": "Updates an api client. Secrets are overwritten only when a new value is sent.",
        "operationId": "ApiClient_UpdateApiClient",
        "parameters": [
          {
            "name": "apiClientId",
            "in": "path",
            "required": true,
            "schema": {
              "type": "string",
              "format": "guid"
            },
            "x-position": 1
          }
        ],
        "requestBody": {
          "x-name": "request",
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/UpdateApiClientRequest"
              }
            }
          },
          "required": true,
          "x-position": 2
        },
        "responses": {
          "200": {
            "description": "Api client updated",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ApiClientDto"
                }
              }
            }
          },
          "400": {
            "description": "",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ProblemDetails"
                }
              }
            }
          },
          "404": {
            "description": "Api client not found",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ProblemDetails"
                }
              }
            }
          }
        }
      },
      "delete": {
        "tags": [
          "ApiClient"
        ],
        "summary": "Deletes an api client.",
        "operationId": "ApiClient_DeleteApiClient",
        "parameters": [
          {
            "name": "apiClientId",
            "in": "path",
            "required": true,
            "schema": {
              "type": "string",
              "format": "guid"
            },
            "x-position": 1
          }
        ],
        "responses": {
          "200": {
            "description": "Api client deleted"
          },
          "404": {
            "description": "Api client not found",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ProblemDetails"
                }
              }
            }
          }
        }
      }
    },
    "/api/crawl-links": {
      "get": {
        "tags": [
          "CrawlLink"
        ],
        "summary": "Gets added crawl links, the results are paginated.",
        "operationId": "CrawlLink_GetAddedCrawlLinks",
        "parameters": [
          {
            "name": "page",
            "in": "query",
            "description": "The page index.",
            "schema": {
              "type": "integer",
              "format": "int32",
              "default": 0
            },
            "x-position": 1
          },
          {
            "name": "limit",
            "in": "query",
            "description": "The number of elements to return.",
            "schema": {
              "type": "integer",
              "format": "int32",
              "default": 25
            },
            "x-position": 2
          },
          {
            "name": "search",
            "in": "query",
            "description": "Optional search term applied server-side on title and provider.",
            "schema": {
              "type": "string",
              "nullable": true
            },
            "x-position": 3
          },
          {
            "name": "status",
            "in": "query",
            "description": "Optional status filter: all, in-progress, downloaded, error.",
            "schema": {
              "type": "string",
              "nullable": true
            },
            "x-position": 4
          },
          {
            "name": "provider",
            "in": "query",
            "description": "Optional provider-name filter.",
            "schema": {
              "type": "string",
              "nullable": true
            },
            "x-position": 5
          },
          {
            "name": "category",
            "in": "query",
            "description": "Optional category filter (0=Movie,1=Show,2=Anime,3=None).",
            "schema": {
              "oneOf": [
                {
                  "nullable": true,
                  "oneOf": [
                    {
                      "$ref": "#/components/schemas/MediaCategory"
                    }
                  ]
                }
              ]
            },
            "x-position": 6
          }
        ],
        "responses": {
          "200": {
            "description": "Page returned",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/PaginatedResponseOfCrawlLinkDto"
                }
              }
            }
          }
        }
      },
      "post": {
        "tags": [
          "CrawlLink"
        ],
        "summary": "Extracts media information from a URL without persisting anything. If the URL points to a show\npage with multiple seasons, the response indicates that season selection is required — call the\nselect-season endpoint with the chosen season. Otherwise the response carries an addToken; pass\nit to confirm-add to commit the link.",
        "operationId": "CrawlLink_AddCrawlLink",
        "requestBody": {
          "x-name": "extractMediaRequest",
          "description": "The object containing the mandatory data for link extraction.",
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/ExtractMediaRequest"
              }
            }
          },
          "required": true,
          "x-position": 1
        },
        "responses": {
          "200": {
            "description": "Extraction result returned (check requiresSeasonSelection / addToken)",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ExtractMediaResponse"
                }
              }
            }
          },
          "400": {
            "description": "Provider not supported or extraction failed",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ProblemDetails"
                }
              }
            }
          },
          "409": {
            "description": "A link for this URL is already added",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ProblemDetails"
                }
              }
            }
          }
        }
      },
      "delete": {
        "tags": [
          "CrawlLink"
        ],
        "summary": "Deletes a crawl link.",
        "operationId": "CrawlLink_DeleteCrawlLink",
        "parameters": [
          {
            "name": "id",
            "x-originalName": "crawlLinkId",
            "in": "query",
            "description": "The id of the crawl link to delete.",
            "schema": {
              "type": "string",
              "format": "guid"
            },
            "x-position": 1
          }
        ],
        "responses": {
          "200": {
            "description": "Crawl link deleted"
          },
          "404": {
            "description": "No crawl link found for the given id",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ProblemDetails"
                }
              }
            }
          }
        }
      }
    },
    "/api/crawl-links/select-season": {
      "post": {
        "tags": [
          "CrawlLink"
        ],
        "summary": "Selects a season for a show page URL and previews the crawl link (without persisting). Call this\nwhen the initial extraction returned requiresSeasonSelection = true.",
        "operationId": "CrawlLink_SelectSeason",
        "requestBody": {
          "x-name": "selectSeasonRequest",
          "description": "The request containing URL, selected season, and user info.",
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/SelectSeasonRequest"
              }
            }
          },
          "required": true,
          "x-position": 1
        },
        "responses": {
          "200": {
            "description": "Preview returned with an add token (check mediaExistsOnServer for duplicates)",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ExtractMediaResponse"
                }
              }
            }
          },
          "400": {
            "description": "Invalid season or extraction failed",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ProblemDetails"
                }
              }
            }
          },
          "409": {
            "description": "A link for this URL is already added",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ProblemDetails"
                }
              }
            }
          }
        }
      }
    },
    "/api/crawl-links/confirm-add": {
      "post": {
        "tags": [
          "CrawlLink"
        ],
        "summary": "Commits a previously-previewed crawl link to the database. Call after add or select-season,\npassing the addToken from that response.",
        "operationId": "CrawlLink_ConfirmCrawlLink",
        "requestBody": {
          "x-name": "confirmationRequest",
          "description": "The request containing the add token and an optional title.",
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/ExtractMediaConfirmationRequest"
              }
            }
          },
          "required": true,
          "x-position": 1
        },
        "responses": {
          "200": {
            "description": "Crawl link saved",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/CrawlLinkDto"
                }
              }
            }
          },
          "409": {
            "description": "A link for this URL is already added",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ProblemDetails"
                }
              }
            }
          },
          "410": {
            "description": "The preview expired or the token was already used — add the link again",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ProblemDetails"
                }
              }
            }
          }
        }
      }
    },
    "/api/crawl-links/{crawlLinkId}/rename": {
      "put": {
        "tags": [
          "CrawlLink"
        ],
        "summary": "Changes the name of the show for an added link.",
        "operationId": "CrawlLink_RenameCrawlLink",
        "parameters": [
          {
            "name": "crawlLinkId",
            "in": "path",
            "required": true,
            "description": "The id of the crawl link to rename.",
            "schema": {
              "type": "string",
              "format": "guid"
            },
            "x-position": 1
          }
        ],
        "requestBody": {
          "x-name": "renameCrawlLinkRequest",
          "description": "The objects containing the new name.",
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/RenameCrawlLinkRequest"
              }
            }
          },
          "required": true,
          "x-position": 2
        },
        "responses": {
          "200": {
            "description": "Crawl link renamed",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/RenameLinkResult"
                }
              }
            }
          },
          "404": {
            "description": "No crawl link found for the given id",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ProblemDetails"
                }
              }
            }
          },
          "409": {
            "description": "Error when saving to database",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ProblemDetails"
                }
              }
            }
          }
        }
      }
    },
    "/api/crawl-links/{crawlLinkId}": {
      "put": {
        "tags": [
          "CrawlLink"
        ],
        "summary": "Updates editable crawl-link fields.",
        "operationId": "CrawlLink_UpdateCrawlLink",
        "parameters": [
          {
            "name": "crawlLinkId",
            "in": "path",
            "required": true,
            "description": "The id of the crawl link to update.",
            "schema": {
              "type": "string",
              "format": "guid"
            },
            "x-position": 1
          }
        ],
        "requestBody": {
          "x-name": "request",
          "description": "Partial update payload.",
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/UpdateCrawlLinkRequest"
              }
            }
          },
          "required": true,
          "x-position": 2
        },
        "responses": {
          "200": {
            "description": "Crawl link updated",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/CrawlLinkDto"
                }
              }
            }
          },
          "400": {
            "description": "Invalid payload",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ProblemDetails"
                }
              }
            }
          },
          "404": {
            "description": "Crawl link not found",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ProblemDetails"
                }
              }
            }
          },
          "409": {
            "description": "Conflict while saving",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ProblemDetails"
                }
              }
            }
          }
        }
      }
    },
    "/api/crawl-links/{crawlLinkId}/disabled-hosts": {
      "get": {
        "tags": [
          "CrawlLink"
        ],
        "operationId": "CrawlLink_GetDisabledHosts",
        "parameters": [
          {
            "name": "crawlLinkId",
            "in": "path",
            "required": true,
            "schema": {
              "type": "string",
              "format": "guid"
            },
            "x-position": 1
          }
        ],
        "responses": {
          "200": {
            "description": "",
            "content": {
              "application/json": {
                "schema": {
                  "type": "array",
                  "items": {
                    "type": "string"
                  }
                }
              }
            }
          },
          "404": {
            "description": "",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ProblemDetails"
                }
              }
            }
          }
        }
      },
      "put": {
        "tags": [
          "CrawlLink"
        ],
        "operationId": "CrawlLink_ReplaceDisabledHosts",
        "parameters": [
          {
            "name": "crawlLinkId",
            "in": "path",
            "required": true,
            "schema": {
              "type": "string",
              "format": "guid"
            },
            "x-position": 1
          }
        ],
        "requestBody": {
          "x-name": "request",
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/UpdateDisabledHostsRequest"
              }
            }
          },
          "required": true,
          "x-position": 2
        },
        "responses": {
          "200": {
            "description": "",
            "content": {
              "application/json": {
                "schema": {
                  "type": "array",
                  "items": {
                    "type": "string"
                  }
                }
              }
            }
          },
          "400": {
            "description": "",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ProblemDetails"
                }
              }
            }
          },
          "404": {
            "description": "",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ProblemDetails"
                }
              }
            }
          }
        }
      }
    },
    "/api/crawl-links/global-disabled-hosts": {
      "get": {
        "tags": [
          "CrawlLink"
        ],
        "operationId": "CrawlLink_GetGlobalDisabledHosts",
        "responses": {
          "200": {
            "description": "",
            "content": {
              "application/json": {
                "schema": {
                  "type": "array",
                  "items": {
                    "type": "string"
                  }
                }
              }
            }
          }
        }
      },
      "put": {
        "tags": [
          "CrawlLink"
        ],
        "operationId": "CrawlLink_ReplaceGlobalDisabledHosts",
        "requestBody": {
          "x-name": "request",
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/UpdateDisabledHostsRequest"
              }
            }
          },
          "required": true,
          "x-position": 1
        },
        "responses": {
          "200": {
            "description": "",
            "content": {
              "application/json": {
                "schema": {
                  "type": "array",
                  "items": {
                    "type": "string"
                  }
                }
              }
            }
          },
          "400": {
            "description": "",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ProblemDetails"
                }
              }
            }
          }
        }
      }
    },
    "/api/debrid/{fileHost}": {
      "get": {
        "tags": [
          "Debrid"
        ],
        "summary": "Downloads the debrided file from a specified file host and URL.",
        "operationId": "Debrid_DownloadDebridedFile",
        "parameters": [
          {
            "name": "fileHost",
            "in": "path",
            "required": true,
            "description": "The name of the file hosting service.",
            "schema": {
              "type": "string"
            },
            "x-position": 1
          },
          {
            "name": "url",
            "in": "query",
            "description": "The URL of the file to be debrided.",
            "schema": {
              "type": "string"
            },
            "x-position": 2
          }
        ],
        "responses": {
          "200": {
            "description": "An IActionResult containing the stream of the downloaded file.",
            "content": {
              "application/octet-stream": {
                "schema": {
                  "type": "string",
                  "format": "binary"
                }
              }
            }
          }
        }
      }
    },
    "/api/downloads": {
      "get": {
        "tags": [
          "Downloads"
        ],
        "summary": "Gets all running or queued downloads",
        "operationId": "Downloads_GetDownloads",
        "responses": {
          "200": {
            "description": "The list of downloads",
            "content": {
              "application/json": {
                "schema": {
                  "type": "array",
                  "items": {
                    "$ref": "#/components/schemas/DownloadDto"
                  }
                }
              }
            }
          }
        }
      },
      "delete": {
        "tags": [
          "Downloads"
        ],
        "summary": "Cancels a download by its file url",
        "operationId": "Downloads_CancelDownload",
        "parameters": [
          {
            "name": "url",
            "in": "query",
            "description": "The file url",
            "schema": {
              "type": "string"
            },
            "x-position": 1
          }
        ],
        "responses": {
          "200": {
            "description": ""
          },
          "400": {
            "description": "",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ProblemDetails"
                }
              }
            }
          }
        }
      }
    },
    "/api/invites/pending": {
      "get": {
        "tags": [
          "Invite"
        ],
        "operationId": "Invite_GetPendingInvites",
        "responses": {
          "200": {
            "description": ""
          }
        }
      }
    },
    "/api/invites": {
      "post": {
        "tags": [
          "Invite"
        ],
        "operationId": "Invite_InviteFriend",
        "requestBody": {
          "x-name": "request",
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/MediaServerInviteRequest"
              }
            }
          },
          "required": true,
          "x-position": 1
        },
        "responses": {
          "200": {
            "description": ""
          },
          "400": {
            "description": "",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ProblemDetails"
                }
              }
            }
          }
        }
      }
    },
    "/api/jobs": {
      "get": {
        "tags": [
          "Job"
        ],
        "operationId": "Job_GetRunningJobs",
        "responses": {
          "200": {
            "description": "",
            "content": {
              "application/json": {
                "schema": {
                  "type": "array",
                  "items": {
                    "$ref": "#/components/schemas/ScheduledJob"
                  }
                }
              }
            }
          }
        }
      },
      "post": {
        "tags": [
          "Job"
        ],
        "summary": "Trigger a cron job",
        "operationId": "Job_TriggerJob",
        "requestBody": {
          "x-name": "triggerJobRequest",
          "description": "Job request",
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/TriggerJobRequest"
              }
            }
          },
          "required": true,
          "x-position": 1
        },
        "responses": {
          "200": {
            "description": ""
          },
          "400": {
            "description": "",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ProblemDetails"
                }
              }
            }
          }
        }
      },
      "delete": {
        "tags": [
          "Job"
        ],
        "summary": "Cancels a running cron job",
        "operationId": "Job_InterruptJob",
        "requestBody": {
          "x-name": "job",
          "description": "The job to cancel",
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/ScheduledJob"
              }
            }
          },
          "required": true,
          "x-position": 1
        },
        "responses": {
          "200": {
            "description": ""
          },
          "400": {
            "description": "",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ProblemDetails"
                }
              }
            }
          }
        }
      }
    },
    "/api/live-tv/channels": {
      "get": {
        "tags": [
          "LiveTv"
        ],
        "summary": "Gets the list of Live TV channels.",
        "operationId": "LiveTv_GetLiveTvChannels",
        "responses": {
          "200": {
            "description": "Live TV channels returned",
            "content": {
              "application/json": {
                "schema": {
                  "type": "array",
                  "items": {
                    "$ref": "#/components/schemas/LiveTvChannelDto"
                  }
                }
              }
            }
          }
        }
      }
    },
    "/api/media/debrid-link": {
      "post": {
        "tags": [
          "MediaOperations"
        ],
        "operationId": "MediaOperations_DebridLink",
        "requestBody": {
          "x-name": "request",
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/DebridLinkRequest"
              }
            }
          },
          "required": true,
          "x-position": 1
        },
        "responses": {
          "200": {
            "description": "",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/DebridLinkResult"
                }
              }
            }
          },
          "400": {
            "description": "",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ProblemDetails"
                }
              }
            }
          }
        }
      }
    },
    "/api/media/remove-link": {
      "delete": {
        "tags": [
          "MediaOperations"
        ],
        "operationId": "MediaOperations_RemoveLink",
        "parameters": [
          {
            "name": "url",
            "in": "query",
            "schema": {
              "type": "string"
            },
            "x-position": 1
          }
        ],
        "responses": {
          "200": {
            "description": "",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/RemoveLinkResult"
                }
              }
            }
          },
          "400": {
            "description": "",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ProblemDetails"
                }
              }
            }
          }
        }
      }
    },
    "/api/media/corrupted-file": {
      "post": {
        "tags": [
          "MediaOperations"
        ],
        "operationId": "MediaOperations_RemoveCorruptedFile",
        "requestBody": {
          "x-name": "request",
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/RemoveCorruptedFileRequest"
              }
            }
          },
          "required": true,
          "x-position": 1
        },
        "responses": {
          "200": {
            "description": "",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/RemoveCorruptedFileResult"
                }
              }
            }
          },
          "400": {
            "description": "",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ProblemDetails"
                }
              }
            }
          }
        }
      }
    },
    "/api/mega-debrid/callback": {
      "post": {
        "tags": [
          "MegaDebrid"
        ],
        "operationId": "MegaDebrid_SuccessCallback",
        "responses": {
          "200": {
            "description": "",
            "content": {
              "application/json": {
                "schema": {
                  "type": "string"
                }
              }
            }
          }
        }
      }
    },
    "/api/providers": {
      "get": {
        "tags": [
          "Provider"
        ],
        "summary": "Gets the list of enabled providers.",
        "operationId": "Provider_GetAvailableProviders",
        "parameters": [
          {
            "name": "searchEnabled",
            "in": "query",
            "description": "Indicates if it should return only providers which have the search functionality.",
            "schema": {
              "type": "boolean",
              "default": false
            },
            "x-position": 1
          }
        ],
        "responses": {
          "200": {
            "description": "Providers returned",
            "content": {
              "application/json": {
                "schema": {
                  "type": "array",
                  "items": {
                    "$ref": "#/components/schemas/IProvider"
                  }
                }
              }
            }
          }
        }
      }
    },
    "/api/providers/all": {
      "get": {
        "tags": [
          "Provider"
        ],
        "summary": "Gets every provider regardless of enabled state (management view).",
        "operationId": "Provider_GetAllProviders",
        "responses": {
          "200": {
            "description": "Providers returned",
            "content": {
              "application/json": {
                "schema": {
                  "type": "array",
                  "items": {
                    "$ref": "#/components/schemas/IProvider"
                  }
                }
              }
            }
          }
        }
      }
    },
    "/api/providers/{providerId}": {
      "put": {
        "tags": [
          "Provider"
        ],
        "summary": "Updates a provider's configuration.",
        "operationId": "Provider_UpdateProvider",
        "parameters": [
          {
            "name": "providerId",
            "in": "path",
            "required": true,
            "schema": {
              "type": "string",
              "format": "guid"
            },
            "x-position": 1
          }
        ],
        "requestBody": {
          "x-name": "request",
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/UpdateProviderRequest"
              }
            }
          },
          "required": true,
          "x-position": 2
        },
        "responses": {
          "200": {
            "description": "Provider updated",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/IProvider"
                }
              }
            }
          },
          "404": {
            "description": "Provider not found",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ProblemDetails"
                }
              }
            }
          }
        }
      }
    },
    "/api/providers/{providerId}/search-filters": {
      "get": {
        "tags": [
          "Provider"
        ],
        "summary": "Gets the available search filters for a given provider and a media category",
        "operationId": "Provider_GetProviderFilters",
        "parameters": [
          {
            "name": "providerId",
            "in": "path",
            "required": true,
            "schema": {
              "type": "string",
              "format": "guid"
            },
            "x-position": 1
          },
          {
            "name": "mediaCategory",
            "in": "query",
            "schema": {
              "$ref": "#/components/schemas/MediaCategory"
            },
            "x-position": 2
          }
        ],
        "responses": {
          "200": {
            "description": "The list of available filters for the provided media category",
            "content": {
              "application/json": {
                "schema": {
                  "type": "array",
                  "items": {
                    "$ref": "#/components/schemas/ISearchFilter"
                  }
                }
              }
            }
          },
          "404": {
            "description": "",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ProblemDetails"
                }
              }
            }
          }
        }
      }
    },
    "/api/providers/{providerId}/search": {
      "post": {
        "tags": [
          "Provider"
        ],
        "summary": "Search the provider website and gets the results. The results are paginated.",
        "operationId": "Provider_Search",
        "parameters": [
          {
            "name": "providerId",
            "in": "path",
            "required": true,
            "description": "The provider id on which to perform the search",
            "schema": {
              "type": "string",
              "format": "guid"
            },
            "x-position": 1
          }
        ],
        "requestBody": {
          "x-name": "searchRequest",
          "description": "The search request",
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/ApiMediaSearchRequest"
              }
            }
          },
          "required": true,
          "x-position": 2
        },
        "responses": {
          "200": {
            "description": "Page of the provider's search results.",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/PaginatedResponseOfProviderSearchItemDto"
                }
              }
            }
          },
          "404": {
            "description": "",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ProblemDetails"
                }
              }
            }
          }
        }
      }
    },
    "/api/settings/live-tv-source": {
      "get": {
        "tags": [
          "Settings"
        ],
        "summary": "Gets the Live TV channel source (DB value, or config fallback when never saved).",
        "operationId": "Settings_GetLiveTvSource",
        "responses": {
          "200": {
            "description": "Live TV source returned",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/LiveTvSourceResult"
                }
              }
            }
          }
        }
      },
      "put": {
        "tags": [
          "Settings"
        ],
        "summary": "Updates the Live TV channel source. Applies from the next LiveTvChannelsJob run.",
        "operationId": "Settings_UpdateLiveTvSource",
        "requestBody": {
          "x-name": "request",
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/UpdateLiveTvSourceRequest"
              }
            }
          },
          "required": true,
          "x-position": 1
        },
        "responses": {
          "200": {
            "description": "Live TV source updated",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/LiveTvSourceResult"
                }
              }
            }
          }
        }
      }
    },
    "/api/settings/live-tv-source/countries": {
      "get": {
        "tags": [
          "Settings"
        ],
        "summary": "Gets the list of countries the current Live TV source exposes (empty if it can't be reached).",
        "operationId": "Settings_GetLiveTvSourceCountries",
        "responses": {
          "200": {
            "description": "Available countries returned",
            "content": {
              "application/json": {
                "schema": {
                  "type": "array",
                  "items": {
                    "type": "string"
                  }
                }
              }
            }
          }
        }
      }
    },
    "/api/torrents/upload": {
      "post": {
        "tags": [
          "Torrent"
        ],
        "operationId": "Torrent_UploadTorrent",
        "requestBody": {
          "content": {
            "multipart/form-data": {
              "schema": {
                "type": "object",
                "properties": {
                  "file": {
                    "type": "string",
                    "format": "binary",
                    "nullable": true
                  },
                  "mediaName": {
                    "type": "string",
                    "nullable": true
                  },
                  "mediaCategory": {
                    "$ref": "#/components/schemas/MediaCategory"
                  },
                  "authorId": {
                    "type": "string",
                    "nullable": true
                  }
                }
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": ""
          },
          "400": {
            "description": "",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ProblemDetails"
                }
              }
            }
          }
        }
      }
    }
  },
  "components": {
    "schemas": {
      "ApiClientDto": {
        "type": "object",
        "additionalProperties": false,
        "properties": {
          "id": {
            "type": "string",
            "format": "guid"
          },
          "name": {
            "type": "string"
          },
          "type": {
            "type": "string"
          },
          "baseUrl": {
            "type": "string",
            "nullable": true
          },
          "username": {
            "type": "string",
            "nullable": true
          },
          "hasApiKey": {
            "type": "boolean"
          },
          "hasPassword": {
            "type": "boolean"
          },
          "isEnabled": {
            "type": "boolean"
          },
          "isActive": {
            "type": "boolean"
          },
          "subscriptionExpiresAt": {
            "type": "string",
            "format": "date-time",
            "nullable": true
          },
          "priority": {
            "type": "integer",
            "format": "int32"
          },
          "maxConcurrentRequests": {
            "type": "integer",
            "format": "int32"
          },
          "rateLimitPerMinute": {
            "type": "integer",
            "format": "int32"
          },
          "isTorrentClient": {
            "type": "boolean"
          },
          "createdAt": {
            "type": "string",
            "format": "date-time"
          },
          "updatedAt": {
            "type": "string",
            "format": "date-time"
          }
        }
      },
      "ProblemDetails": {
        "type": "object",
        "additionalProperties": {
          "nullable": true
        },
        "properties": {
          "type": {
            "type": "string",
            "nullable": true
          },
          "title": {
            "type": "string",
            "nullable": true
          },
          "status": {
            "type": "integer",
            "format": "int32",
            "nullable": true
          },
          "detail": {
            "type": "string",
            "nullable": true
          },
          "instance": {
            "type": "string",
            "nullable": true
          },
          "extensions": {
            "type": "object",
            "additionalProperties": {}
          }
        }
      },
      "CreateApiClientRequest": {
        "type": "object",
        "additionalProperties": false,
        "properties": {
          "name": {
            "type": "string"
          },
          "type": {
            "type": "string"
          },
          "baseUrl": {
            "type": "string",
            "nullable": true
          },
          "apiKey": {
            "type": "string",
            "nullable": true
          },
          "username": {
            "type": "string",
            "nullable": true
          },
          "password": {
            "type": "string",
            "nullable": true
          },
          "isEnabled": {
            "type": "boolean"
          },
          "subscriptionExpiresAt": {
            "type": "string",
            "format": "date-time",
            "nullable": true
          },
          "priority": {
            "type": "integer",
            "format": "int32"
          },
          "maxConcurrentRequests": {
            "type": "integer",
            "format": "int32"
          },
          "rateLimitPerMinute": {
            "type": "integer",
            "format": "int32"
          },
          "isTorrentClient": {
            "type": "boolean"
          }
        }
      },
      "UpdateApiClientRequest": {
        "type": "object",
        "additionalProperties": false,
        "properties": {
          "name": {
            "type": "string",
            "nullable": true
          },
          "type": {
            "type": "string",
            "nullable": true
          },
          "baseUrl": {
            "type": "string",
            "nullable": true
          },
          "apiKey": {
            "type": "string",
            "nullable": true
          },
          "username": {
            "type": "string",
            "nullable": true
          },
          "password": {
            "type": "string",
            "nullable": true
          },
          "isEnabled": {
            "type": "boolean",
            "nullable": true
          },
          "subscriptionExpiresAt": {
            "type": "string",
            "format": "date-time",
            "nullable": true
          },
          "priority": {
            "type": "integer",
            "format": "int32",
            "nullable": true
          },
          "maxConcurrentRequests": {
            "type": "integer",
            "format": "int32",
            "nullable": true
          },
          "rateLimitPerMinute": {
            "type": "integer",
            "format": "int32",
            "nullable": true
          },
          "isTorrentClient": {
            "type": "boolean",
            "nullable": true
          }
        }
      },
      "PaginatedResponseOfCrawlLinkDto": {
        "type": "object",
        "additionalProperties": false,
        "properties": {
          "currentPage": {
            "type": "integer",
            "format": "int32"
          },
          "totalPages": {
            "type": "integer",
            "format": "int32"
          },
          "pageSize": {
            "type": "integer",
            "format": "int32"
          },
          "totalCount": {
            "type": "integer",
            "format": "int32"
          },
          "items": {
            "type": "array",
            "items": {
              "$ref": "#/components/schemas/CrawlLinkDto"
            }
          }
        }
      },
      "CrawlLinkDto": {
        "type": "object",
        "additionalProperties": false,
        "properties": {
          "id": {
            "type": "string",
            "format": "guid"
          },
          "mediaId": {
            "type": "string"
          },
          "name": {
            "type": "string"
          },
          "secondName": {
            "type": "string"
          },
          "provider": {
            "nullable": true,
            "oneOf": [
              {
                "$ref": "#/components/schemas/ProviderDto"
              }
            ]
          },
          "providerId": {
            "type": "string",
            "format": "guid"
          },
          "providerItemId": {
            "type": "string",
            "nullable": true
          },
          "providerCategory": {
            "type": "string",
            "nullable": true
          },
          "category": {
            "$ref": "#/components/schemas/MediaCategory"
          },
          "fullUrl": {
            "type": "string"
          },
          "relativeUrl": {
            "type": "string"
          },
          "thumbnailUrl": {
            "type": "string",
            "nullable": true
          },
          "airedEpisodesCount": {
            "type": "integer",
            "format": "int32",
            "nullable": true
          },
          "totalEpisodesCount": {
            "type": "integer",
            "format": "int32",
            "nullable": true
          },
          "season": {
            "type": "integer",
            "format": "int32",
            "nullable": true
          },
          "quality": {
            "type": "string",
            "nullable": true
          },
          "version": {
            "type": "string"
          },
          "productionYear": {
            "type": "integer",
            "format": "int32",
            "nullable": true
          },
          "lastChecked": {
            "type": "string",
            "format": "date-time",
            "nullable": true
          },
          "downloaded": {
            "type": "boolean"
          },
          "hasError": {
            "type": "boolean"
          },
          "createdBy": {
            "type": "string",
            "nullable": true
          },
          "authorId": {
            "type": "string"
          },
          "createdAt": {
            "type": "string",
            "format": "date-time"
          },
          "origin": {
            "$ref": "#/components/schemas/CreationOrigin"
          },
          "mediaServerType": {
            "$ref": "#/components/schemas/MediaServerType"
          },
          "isEnabled": {
            "type": "boolean"
          },
          "disabledHosts": {
            "type": "array",
            "items": {
              "type": "string"
            }
          }
        }
      },
      "ProviderDto": {
        "type": "object",
        "additionalProperties": false,
        "properties": {
          "displayName": {
            "type": "string"
          },
          "name": {
            "type": "string"
          },
          "url": {
            "type": "string"
          },
          "enabled": {
            "type": "boolean"
          },
          "searchEnabled": {
            "type": "boolean"
          },
          "isManuallyDisabled": {
            "type": "boolean"
          }
        }
      },
      "MediaCategory": {
        "type": "integer",
        "description": "",
        "x-enumNames": [
          "Movie",
          "Show",
          "Anime",
          "None"
        ],
        "enum": [
          0,
          1,
          2,
          3
        ]
      },
      "CreationOrigin": {
        "type": "integer",
        "description": "",
        "x-enumNames": [
          "Discord",
          "Jellyfin"
        ],
        "enum": [
          0,
          1
        ]
      },
      "MediaServerType": {
        "type": "integer",
        "description": "",
        "x-enumNames": [
          "Plex",
          "Jellyfin"
        ],
        "enum": [
          0,
          1
        ]
      },
      "ExtractMediaResponse": {
        "type": "object",
        "additionalProperties": false,
        "properties": {
          "requiresSeasonSelection": {
            "type": "boolean"
          },
          "availableSeasons": {
            "type": "integer",
            "format": "int32",
            "nullable": true
          },
          "mediaTitle": {
            "type": "string",
            "nullable": true
          },
          "originalUrl": {
            "type": "string"
          },
          "addToken": {
            "type": "string",
            "nullable": true
          },
          "crawlLink": {
            "nullable": true,
            "oneOf": [
              {
                "$ref": "#/components/schemas/CrawlLinkDto"
              }
            ]
          },
          "mediaExistsOnServer": {
            "type": "boolean"
          },
          "requiresExistenceConfirmation": {
            "type": "boolean"
          },
          "existingMedia": {
            "nullable": true,
            "oneOf": [
              {
                "$ref": "#/components/schemas/MediaSearchResultDto"
              }
            ]
          }
        }
      },
      "MediaSearchResultDto": {
        "type": "object",
        "additionalProperties": false,
        "properties": {
          "id": {
            "type": "string"
          },
          "title": {
            "type": "string"
          },
          "originalTitle": {
            "type": "string",
            "nullable": true
          },
          "productionYear": {
            "type": "integer",
            "format": "int32",
            "nullable": true
          },
          "isShow": {
            "type": "boolean"
          },
          "mediaUrl": {
            "type": "string",
            "nullable": true
          }
        }
      },
      "ExtractMediaRequest": {
        "type": "object",
        "additionalProperties": false,
        "properties": {
          "url": {
            "type": "string"
          },
          "userName": {
            "type": "string"
          },
          "userId": {
            "type": "string"
          },
          "mediaCategory": {
            "$ref": "#/components/schemas/MediaCategory"
          }
        }
      },
      "SelectSeasonRequest": {
        "type": "object",
        "additionalProperties": false,
        "properties": {
          "url": {
            "type": "string"
          },
          "season": {
            "type": "integer",
            "format": "int32"
          },
          "userName": {
            "type": "string"
          },
          "userId": {
            "type": "string"
          },
          "mediaCategory": {
            "$ref": "#/components/schemas/MediaCategory"
          }
        }
      },
      "ExtractMediaConfirmationRequest": {
        "type": "object",
        "additionalProperties": false,
        "properties": {
          "addToken": {
            "type": "string"
          },
          "mediaTitle": {
            "type": "string",
            "nullable": true
          }
        }
      },
      "RenameLinkResult": {
        "type": "object",
        "additionalProperties": false,
        "properties": {
          "isSuccess": {
            "type": "boolean"
          },
          "error": {
            "type": "string",
            "nullable": true
          },
          "oldName": {
            "type": "string",
            "nullable": true
          },
          "newName": {
            "type": "string",
            "nullable": true
          }
        }
      },
      "RenameCrawlLinkRequest": {
        "type": "object",
        "additionalProperties": false,
        "properties": {
          "newName": {
            "type": "string"
          }
        }
      },
      "UpdateCrawlLinkRequest": {
        "type": "object",
        "additionalProperties": false,
        "properties": {
          "name": {
            "type": "string",
            "nullable": true
          },
          "secondName": {
            "type": "string",
            "nullable": true
          },
          "url": {
            "type": "string",
            "nullable": true
          },
          "providerCategory": {
            "type": "string",
            "nullable": true
          },
          "category": {
            "nullable": true,
            "oneOf": [
              {
                "$ref": "#/components/schemas/MediaCategory"
              }
            ]
          },
          "thumbnailUrl": {
            "type": "string",
            "nullable": true
          },
          "airedEpisodesCount": {
            "type": "integer",
            "format": "int32",
            "nullable": true
          },
          "totalEpisodesCount": {
            "type": "integer",
            "format": "int32",
            "nullable": true
          },
          "season": {
            "type": "integer",
            "format": "int32",
            "nullable": true
          },
          "quality": {
            "type": "string",
            "nullable": true
          },
          "version": {
            "type": "string",
            "nullable": true
          },
          "productionYear": {
            "type": "integer",
            "format": "int32",
            "nullable": true
          },
          "lastChecked": {
            "type": "string",
            "format": "date-time",
            "nullable": true
          },
          "clearLastChecked": {
            "type": "boolean",
            "nullable": true
          },
          "downloaded": {
            "type": "boolean",
            "nullable": true
          },
          "hasError": {
            "type": "boolean",
            "nullable": true
          },
          "isEnabled": {
            "type": "boolean",
            "nullable": true
          },
          "disabledHosts": {
            "type": "array",
            "nullable": true,
            "items": {
              "type": "string"
            }
          }
        }
      },
      "UpdateDisabledHostsRequest": {
        "type": "object",
        "additionalProperties": false,
        "properties": {
          "hosts": {
            "type": "array",
            "items": {
              "type": "string"
            }
          }
        }
      },
      "DownloadDto": {
        "type": "object",
        "additionalProperties": false,
        "properties": {
          "name": {
            "type": "string"
          },
          "fileName": {
            "type": "string"
          },
          "url": {
            "type": "string"
          },
          "destinationFolder": {
            "type": "string"
          },
          "isRunning": {
            "type": "boolean"
          },
          "isCancelled": {
            "type": "boolean"
          },
          "isCompleted": {
            "type": "boolean"
          },
          "isDeadLink": {
            "type": "boolean"
          },
          "episodeIndex": {
            "type": "integer",
            "format": "int32"
          },
          "progress": {
            "type": "number",
            "format": "double"
          },
          "speed": {
            "type": "number",
            "format": "double"
          },
          "speedUnit": {
            "type": "string"
          },
          "averageSpeed": {
            "type": "number",
            "format": "double"
          },
          "averageSpeedUnit": {
            "type": "string"
          },
          "sizeReceived": {
            "type": "number",
            "format": "double"
          },
          "sizeUnit": {
            "type": "string"
          },
          "totalSize": {
            "type": "number",
            "format": "double"
          },
          "totalSizeUnit": {
            "type": "string"
          },
          "estimatedTime": {
            "type": "integer",
            "format": "int32"
          },
          "estimatedTimeUnit": {
            "type": "string"
          }
        }
      },
      "MediaServerInviteRequest": {
        "type": "object",
        "additionalProperties": false,
        "properties": {
          "email": {
            "type": "string"
          },
          "libraries": {
            "type": "array",
            "items": {
              "type": "string"
            }
          }
        }
      },
      "ScheduledJob": {
        "type": "object",
        "additionalProperties": false,
        "properties": {
          "id": {
            "type": "string"
          },
          "type": {
            "type": "string"
          },
          "status": {
            "type": "string"
          },
          "startedAt": {
            "type": "string",
            "format": "date-time"
          }
        }
      },
      "TriggerJobRequest": {
        "type": "object",
        "additionalProperties": false,
        "properties": {
          "jobType": {
            "type": "string"
          }
        }
      },
      "LiveTvChannelDto": {
        "type": "object",
        "additionalProperties": false,
        "properties": {
          "id": {
            "type": "string",
            "format": "guid"
          },
          "name": {
            "type": "string"
          },
          "iconUrl": {
            "type": "string",
            "nullable": true
          },
          "category": {
            "$ref": "#/components/schemas/LiveTvChannelCategory"
          },
          "streamUrl": {
            "type": "string"
          },
          "createdAt": {
            "type": "string",
            "format": "date-time"
          },
          "updatedAt": {
            "type": "string",
            "format": "date-time"
          }
        }
      },
      "LiveTvChannelCategory": {
        "type": "integer",
        "description": "",
        "x-enumNames": [
          "General",
          "Sports",
          "Cinema",
          "Kids",
          "Documentary",
          "Music",
          "News",
          "Other",
          "Entertainment"
        ],
        "enum": [
          0,
          1,
          2,
          3,
          4,
          5,
          6,
          7,
          8
        ]
      },
      "DebridLinkResult": {
        "type": "object",
        "additionalProperties": false,
        "properties": {
          "isSuccess": {
            "type": "boolean"
          },
          "error": {
            "type": "string",
            "nullable": true
          },
          "debridedUrl": {
            "type": "string",
            "nullable": true
          }
        }
      },
      "DebridLinkRequest": {
        "type": "object",
        "additionalProperties": false,
        "properties": {
          "link": {
            "type": "string"
          }
        }
      },
      "RemoveLinkResult": {
        "type": "object",
        "additionalProperties": false,
        "properties": {
          "isSuccess": {
            "type": "boolean"
          },
          "error": {
            "type": "string",
            "nullable": true
          },
          "removedLink": {
            "type": "string",
            "nullable": true
          }
        }
      },
      "RemoveCorruptedFileResult": {
        "type": "object",
        "additionalProperties": false,
        "properties": {
          "isSuccess": {
            "type": "boolean"
          },
          "error": {
            "type": "string",
            "nullable": true
          },
          "episodesRemoved": {
            "type": "integer",
            "format": "int32"
          }
        }
      },
      "RemoveCorruptedFileRequest": {
        "type": "object",
        "additionalProperties": false,
        "properties": {
          "crawlLinkId": {
            "type": "string",
            "format": "guid"
          },
          "episodeIndexes": {
            "type": "array",
            "items": {
              "type": "integer",
              "format": "int32"
            }
          }
        }
      },
      "IProvider": {
        "type": "object",
        "x-abstract": true,
        "additionalProperties": false,
        "properties": {
          "id": {
            "type": "string",
            "format": "guid"
          },
          "displayName": {
            "type": "string"
          },
          "name": {
            "type": "string"
          },
          "url": {
            "type": "string"
          },
          "enabled": {
            "type": "boolean"
          },
          "searchEnabled": {
            "type": "boolean"
          },
          "isManuallyDisabled": {
            "type": "boolean"
          },
          "crawlLinksRef": {
            "type": "array",
            "items": {
              "$ref": "#/components/schemas/ICrawlLink"
            }
          }
        }
      },
      "ICrawlLink": {
        "type": "object",
        "x-abstract": true,
        "additionalProperties": false,
        "properties": {
          "id": {
            "type": "string",
            "format": "guid"
          },
          "mediaId": {
            "type": "string"
          },
          "name": {
            "type": "string"
          },
          "secondName": {
            "type": "string"
          },
          "formattedName": {
            "type": "string"
          },
          "providerId": {
            "type": "string",
            "format": "guid"
          },
          "providerRef": {
            "$ref": "#/components/schemas/IProvider"
          },
          "providerItemId": {
            "type": "string",
            "nullable": true
          },
          "providerCategory": {
            "type": "string",
            "nullable": true
          },
          "category": {
            "$ref": "#/components/schemas/MediaCategory"
          },
          "url": {
            "type": "string"
          },
          "thumbnailUrl": {
            "type": "string",
            "nullable": true
          },
          "airedEpisodesCount": {
            "type": "integer",
            "format": "int32",
            "nullable": true
          },
          "totalEpisodesCount": {
            "type": "integer",
            "format": "int32",
            "nullable": true
          },
          "season": {
            "type": "integer",
            "format": "int32",
            "nullable": true
          },
          "quality": {
            "type": "string",
            "nullable": true
          },
          "version": {
            "type": "string"
          },
          "productionYear": {
            "type": "integer",
            "format": "int32",
            "nullable": true
          },
          "lastChecked": {
            "type": "string",
            "format": "date-time",
            "nullable": true
          },
          "downloaded": {
            "type": "boolean"
          },
          "hasError": {
            "type": "boolean"
          },
          "createdBy": {
            "type": "string",
            "nullable": true
          },
          "authorId": {
            "type": "string"
          },
          "isEnabled": {
            "type": "boolean"
          },
          "createdAt": {
            "type": "string",
            "format": "date-time"
          },
          "origin": {
            "$ref": "#/components/schemas/CreationOrigin"
          },
          "mediaServerType": {
            "$ref": "#/components/schemas/MediaServerType"
          },
          "runningCrawl": {
            "nullable": true,
            "oneOf": [
              {
                "$ref": "#/components/schemas/IScheduledCrawl"
              }
            ]
          }
        }
      },
      "IScheduledCrawl": {
        "type": "object",
        "x-abstract": true,
        "additionalProperties": false,
        "properties": {
          "id": {
            "type": "string",
            "format": "guid"
          },
          "crawlLinkId": {
            "type": "string",
            "format": "guid"
          },
          "jobId": {
            "type": "string"
          },
          "crawlLinkRef": {
            "$ref": "#/components/schemas/ICrawlLink"
          },
          "name": {
            "type": "string"
          },
          "mediaName": {
            "type": "string",
            "nullable": true
          },
          "mediaFolder": {
            "type": "string",
            "nullable": true
          },
          "url": {
            "type": "string"
          },
          "thumbnailUrl": {
            "type": "string",
            "nullable": true
          },
          "downloadLinks": {
            "type": "array",
            "items": {
              "$ref": "#/components/schemas/DownloadLink"
            }
          },
          "extractedLinks": {
            "type": "array",
            "items": {
              "$ref": "#/components/schemas/DownloadLink"
            }
          },
          "failedEpisodes": {
            "type": "array",
            "items": {
              "type": "integer",
              "format": "int32"
            }
          },
          "successfulDownloads": {
            "type": "integer",
            "format": "int32"
          },
          "skippedDownloads": {
            "type": "integer",
            "format": "int32"
          },
          "status": {
            "$ref": "#/components/schemas/CrawlStatus"
          },
          "hasError": {
            "type": "boolean"
          },
          "createdAt": {
            "type": "string",
            "format": "date-time"
          },
          "extractedItemInfo": {
            "nullable": true,
            "oneOf": [
              {
                "$ref": "#/components/schemas/IExtractedItemInfo"
              }
            ]
          }
        }
      },
      "DownloadLink": {
        "type": "object",
        "additionalProperties": false,
        "properties": {
          "index": {
            "type": "integer",
            "format": "int32"
          },
          "link": {
            "type": "string"
          },
          "version": {
            "type": "string"
          },
          "quality_label": {
            "type": "string"
          },
          "quality": {
            "$ref": "#/components/schemas/MediaQuality"
          },
          "size": {
            "type": "number",
            "format": "float"
          },
          "size_unit": {
            "type": "string"
          },
          "file_host": {
            "type": "string"
          },
          "is_full_season": {
            "type": "boolean"
          }
        }
      },
      "MediaQuality": {
        "type": "integer",
        "description": "",
        "x-enumNames": [
          "Unknown",
          "SD",
          "HD",
          "FullHD",
          "UltraHD"
        ],
        "enum": [
          0,
          1,
          2,
          3,
          4
        ]
      },
      "CrawlStatus": {
        "type": "integer",
        "description": "",
        "x-enumNames": [
          "Scheduled",
          "Crawling",
          "Crawled",
          "Downloading",
          "Downloaded",
          "Error",
          "Cancelled",
          "CrawlerReturnedNoLinks",
          "CrawlerReturnedEmptyLinks",
          "DeadLinks",
          "HostUnavailable",
          "NetworkError"
        ],
        "enum": [
          0,
          1,
          2,
          3,
          4,
          5,
          6,
          50,
          51,
          52,
          53,
          60
        ]
      },
      "IExtractedItemInfo": {
        "type": "object",
        "x-abstract": true,
        "additionalProperties": false,
        "properties": {
          "provider": {
            "$ref": "#/components/schemas/IProvider"
          },
          "title": {
            "type": "string"
          },
          "originalTitle": {
            "type": "string"
          },
          "relativeUrl": {
            "type": "string"
          },
          "version": {
            "type": "string"
          },
          "providerId": {
            "type": "string",
            "nullable": true
          },
          "season": {
            "type": "integer",
            "format": "int32",
            "nullable": true
          },
          "airedEpisodesCount": {
            "type": "integer",
            "format": "int32",
            "nullable": true
          },
          "totalEpisodesCount": {
            "type": "integer",
            "format": "int32",
            "nullable": true
          },
          "seasonCount": {
            "type": "integer",
            "format": "int32",
            "nullable": true
          },
          "quality": {
            "type": "string",
            "nullable": true
          },
          "providerCategory": {
            "type": "string",
            "nullable": true
          },
          "productionYear": {
            "type": "integer",
            "format": "int32",
            "nullable": true
          },
          "category": {
            "$ref": "#/components/schemas/MediaCategory"
          },
          "downloadLinks": {
            "type": "array",
            "items": {
              "$ref": "#/components/schemas/DownloadLink"
            }
          },
          "thumbnailUrl": {
            "type": "string",
            "nullable": true
          }
        }
      },
      "UpdateProviderRequest": {
        "type": "object",
        "additionalProperties": false,
        "properties": {
          "displayName": {
            "type": "string",
            "nullable": true
          },
          "url": {
            "type": "string",
            "nullable": true
          },
          "enabled": {
            "type": "boolean",
            "nullable": true
          },
          "searchEnabled": {
            "type": "boolean",
            "nullable": true
          },
          "isManuallyDisabled": {
            "type": "boolean",
            "nullable": true
          }
        }
      },
      "ISearchFilter": {
        "type": "object",
        "x-abstract": true,
        "additionalProperties": false,
        "properties": {
          "label": {
            "type": "string"
          },
          "name": {
            "type": "string"
          },
          "value": {
            "type": "string"
          },
          "valueLabel": {
            "type": "string"
          },
          "options": {
            "type": "array",
            "items": {
              "$ref": "#/components/schemas/ISearchFilterOption"
            }
          }
        }
      },
      "ISearchFilterOption": {
        "type": "object",
        "x-abstract": true,
        "additionalProperties": false,
        "properties": {
          "label": {
            "type": "string"
          },
          "value": {
            "type": "string"
          }
        }
      },
      "PaginatedResponseOfProviderSearchItemDto": {
        "type": "object",
        "additionalProperties": false,
        "properties": {
          "currentPage": {
            "type": "integer",
            "format": "int32"
          },
          "totalPages": {
            "type": "integer",
            "format": "int32"
          },
          "pageSize": {
            "type": "integer",
            "format": "int32"
          },
          "totalCount": {
            "type": "integer",
            "format": "int32"
          },
          "items": {
            "type": "array",
            "items": {
              "$ref": "#/components/schemas/ProviderSearchItemDto"
            }
          }
        }
      },
      "ProviderSearchItemDto": {
        "type": "object",
        "additionalProperties": false,
        "properties": {
          "title": {
            "type": "string"
          },
          "description": {
            "type": "string"
          },
          "url": {
            "type": "string"
          },
          "thumbnailUrl": {
            "type": "string"
          },
          "season": {
            "type": "integer",
            "format": "int32",
            "nullable": true
          },
          "quality": {
            "type": "string",
            "nullable": true
          },
          "language": {
            "type": "string",
            "nullable": true
          },
          "year": {
            "type": "integer",
            "format": "int32",
            "nullable": true
          },
          "score": {
            "type": "number",
            "format": "double",
            "nullable": true
          }
        }
      },
      "ApiMediaSearchRequest": {
        "allOf": [
          {
            "$ref": "#/components/schemas/MediaSearchRequest"
          },
          {
            "type": "object",
            "additionalProperties": false,
            "properties": {
              "filters": {
                "type": "array",
                "nullable": true,
                "items": {
                  "$ref": "#/components/schemas/SearchFilter"
                }
              },
              "page": {
                "type": "integer",
                "format": "int32"
              },
              "pageSize": {
                "type": "integer",
                "format": "int32"
              }
            }
          }
        ]
      },
      "SearchFilter": {
        "type": "object",
        "additionalProperties": false,
        "properties": {
          "label": {
            "type": "string"
          },
          "name": {
            "type": "string"
          },
          "value": {
            "type": "string"
          },
          "valueLabel": {
            "type": "string"
          },
          "options": {
            "type": "array",
            "items": {
              "$ref": "#/components/schemas/ISearchFilterOption"
            }
          }
        }
      },
      "MediaSearchRequest": {
        "type": "object",
        "additionalProperties": false,
        "properties": {
          "query": {
            "type": "string"
          },
          "category": {
            "$ref": "#/components/schemas/MediaCategory"
          },
          "exactMatch": {
            "type": "boolean"
          },
          "minScore": {
            "type": "number",
            "format": "decimal",
            "nullable": true
          }
        }
      },
      "LiveTvSourceResult": {
        "type": "object",
        "additionalProperties": false,
        "properties": {
          "baseUrl": {
            "type": "string"
          },
          "countries": {
            "type": "array",
            "items": {
              "type": "string"
            }
          },
          "fromDatabase": {
            "type": "boolean",
            "description": "False when the values come from the config-file fallback (nothing saved yet)."
          }
        }
      },
      "UpdateLiveTvSourceRequest": {
        "type": "object",
        "additionalProperties": false,
        "properties": {
          "baseUrl": {
            "type": "string"
          },
          "countries": {
            "type": "array",
            "items": {
              "type": "string"
            }
          }
        }
      }
    }
  }
}